@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
@import url('https://fonts.googleapis.com/css?family=Anta:700|Anta:400');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


:root {
  --text: hsl(0, 13%, 6%);
  --background: hsl(0, 14%, 97%);
  --primary: hsl(0, 89%, 44%);
  --primary-dark: hsl(0, 89%, 34%);
  --secondary: hsl(158, 15%, 71%);
  --secondary-dark: hsl(158, 15%, 60%);
  --secondary-light: hsl(158, 15%, 88%);
  --accent: hsl(208, 14%, 61%);
  --accent-dark: hsl(208, 14%, 50%);
  --accent-light: hsl(208, 14%, 70%);
  
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-weight: 350;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.Header .navbar{
  background-image: linear-gradient(to right, var(--accent-light), var(--accent));
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Header .nav-link{
  color: var(--primary);
}

.Header .nav-link.active{
  color: var(--primary-dark);
}

.Header .btn.login,
.Header .btn.login:hover,
.Header .btn.login:active,
.Header .btn.login:visited{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
  border: none;
  color: var(--background);
}

.Header .btn.signUp,
.Header .btn.signUp:hover,
.Header .btn.signUp:active,
.Header .btn.signUp:visited{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
  border: solid 2px var(--background);
  height: 95%;
  align-items: center;
  border-radius: 0%;
  color: var(--background);
}

.Footer{
  margin-top: auto;
  background-color: var(--accent-dark);
  text-align: center;
}

.Login {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  border-radius: 25px;
  background-image: linear-gradient(var(--accent-dark), var(--accent));
  
}

.Login .form {
  display: flex;
  flex-direction: column;
}

.Login  h3{
  text-align: center;
  color: var(--background);
}


.Login  h5{
  font-size: 0.9rem;
}

.Login .switch{
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--primary-dark);
  border: none;
}

.Login input[type="text"],
.Login input[type="email"],
.Login input[type="password"]{
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: none;
}


.Login .btn{
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  border: none;
}

.Login .btn:hover,
.Login .btn:active,
.Login .btn:visited{
  background-color: var(--primary-dark);
  color: var(--background);
  cursor: pointer;
  border: none;
  outline: none;
}

.Home .HomeJumbotron{

  border-radius: 10px;
}

.Home .HomeJumbotron .JumbotronContent h1{
  font-family: 'Anta';
  color: var(--primary);
}


.Home .HomeJumbotron .JumbotronContent ul{
  font-size: 0.9rem;
  list-style: disc;
  color: #333;
}

.Home .HomeJumbotron .JumbotronContent .EventRedirect.btn{
  cursor: pointer;
  color: var(--background);
  background-color: var(--primary);
  border: none;
  border-radius: 1%;
}

.Home .HomeJumbotron .JumbotronContent .EventRedirect.btn:hover,
.Home .HomeJumbotron .JumbotronContent .EventRedirect.btn:active,
.Home .HomeJumbotron .JumbotronContent .EventRedirect.btn:visited{
  background-color: var(--primary-dark);
}

.Home .homeViewMore{
  background-color: var(--secondary);
  border: 2px solid var(--accent-dark);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Home .homeViewMore h3{
  color: var(--accent-dark);
}


.Home .homeViewMore .card{
  width: 18rem;
  border-radius: 1%;
  background-color: transparent;
  border: 1px solid var(--accent-dark);
}

.Home .homeViewMore .card img{
  border-radius: 0%;
}
.Home .homeViewMore .card .getTicket.btn{
  margin-left: 10%;
  width: 80%;
  color: var(--background);
  background-color: var(--primary);
  border: none;
  border-radius: 2%;
}


.Home .homeViewMore .card .getTicket.btn:active,
.Home .homeViewMore .card .getTicket.btn:hover{
  background-color: var(--primary-dark);
}

.Event .formSearch input[type="text"] {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  width: 40%;
  height: 3rem;
  border: 1px solid var(--accent-dark);
  border-radius: 8px;
  color: var(--accent-dark);
  font-weight: medium;
}

.Event .formSearch input[type="text"]::placeholder{
  color: var(--secondary);
  font-weight: lighter;
}

.Event .formSearch input[type=text]:focus{
  outline: none !important;
  border: 2px solid var(--primary);
}

.Event h3{
  margin-left: 4%;
  color: var(--primary-dark);
}

.Event .card {
  border: 1px solid var(--accent-dark);
  background-color: var(--secondary-light);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Event .card h5{
  color: var(--accent-dark);
}

.Event .card i{
  color: var(--primary-dark);
}

.Event .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Event .card .btn{
  border-radius: 0%;
  border: none;
  background-color: var(--primary);
  color: var(--background);
}

.Event .card .btn:hover,
.Event .card .btn:active{
  background-color: var(--primary-dark);
}

.Event .card .btn i{
  color: var(--background);
}

.Account .eventsList{
  border-radius: 0%;
  border: 1px solid var(--accent-dark);
  background-color: var(--secondary-light);
  color: var(--accent-dark);
}

.Account .card .btn{
  border-radius: 0%;
  background-color: var(--primary);
  color: var(--background);
  border: 2px solid var(--primary-dark);  
}

.Account .card .btn:hover,
.Account .card .btn:active{
  background-color: var(--primary-dark);
}

.Account .card .btn i{
  color: var(--background);
}

.Account .card  i{
  color: var(--primary-dark);
}

.Account .modal .modal-content{
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0%;
}

.Account .modal .modal-content{
  background-color: transparent;
  height: 100%;
}

.Account .modal .modal-content .modalBand,
.Account .modal .modal-content .modalBandB{
  background-color: var(--primary);
  height: 3.8rem;
  align-items: center;
}

.Account .modal .modal-content .modalBandB{
  margin-top: auto;
}

.Account .modal .modal-content .modalBody h2{
  min-height: 12vh;
  background-color: var(--background);
  color: var(--secondary-dark);

}

.Account .modal .modal-content .modalBody p{
  color: var(--text);
}

.Account .modal .modal-content .modalBody p i{
  color: var(--primary);
}

.Account .modal .modal-content .left{
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-light);
  border-right: .18em dashed var(--accent-dark);
  
}
.Account .modal .modal-content .right{
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-light);
  border-radius: 2px -2px 2px 2px;
  border-left: .18em dashed var(--secondary-light);

}


.Details .banner{
  background-image: url("https://placehold.co/800x600");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
  max-height: 75vh;
}

.Details .title {
  color: var(--secondary-dark);
}

.Details .titleDate i{
  color: var(--primary-dark);
}

.Details .form{
  background-color: var(--secondary-light);
}

.Details .form label{
  font-weight: bolder;
  color: var(--accent-dark);
}

.Details .form input,
.Details .form select{
  background-color: var(--background);
}

.Details .form input.form-control.iP{
  border-radius: 5px !important;
}

.Details .form .btn.b1,
.Details .form .btn.b2{
  border-radius: 50% !important;
  margin-left: 3% !important;
  border: none;
}

.Details .form .btn.b1{
  color: var(--background);
  background-color: var(--text);
}

.Details .form .btn.b2{
  columns: var(--text);
  background-color: var(--background);
}

.Details .form .btn.submitForm{
  width: 100%;
  border-radius: 25px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
}

.Details .form .btn.submitForm:hover,
.Details .form .btn.submitForm:hover:active{
  background-color: var(--primary-dark);
}

.Details .form i{
  color: var(--primary-dark);
}

.Details .aboutEvent{
  font-size: 1.3rem;
  color: var(--accent-dark);
}

.Details h5{
  color: var(--secondary-dark);
  font-size: 1.2rem;
}

.Details .instructions{
  border: none;
  background-color: var(--accent-light);
}

.Details .instructions h2{
  color: var(--primary-dark);
}

.Details .instructions p{
  font-size: 1rem;
}